In [ ]:
## Clase 12

In [4]:
def imprimir_k(**kwargs):
    print(kwargs)
def imprimir_a(*args):
    total = 0
    for a in args:
        total = total+a
    print(total)

In [2]:
imprimir_k(a=1,b=2,c=3,d=4,e=5)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [5]:
imprimir_a(1,2,3,4,5)
imprimir_a(2,3)

15
5

In [22]:
def calc2(a,b,c,*args,**kwargs):
    if kwargs.get("operacion")=="suma":
        print("La suma de a b y c es: ", (a+b+c))
    if kwargs.get("argumento")=="primero":
        print("El primer argumento es: ", a)
    suma = 0
    for i in args:
        suma = suma + i
    print("La suma de los arugmentos es: ",suma)

In [9]:
numeros = [1,2,3,4,5]

In [23]:
calc2(1,2,3,*numeros,operacion="suma",argumento="primero")

La suma de a b y c es:  6
El primer argumento es:  1
La suma de los arugmentos es:  15

In [26]:
import pandas as pd
import numpy as np

In [28]:
dict1 = {
    "nombre" : ["Pedro","Esparza","Garcia"],
    "edad":[1,2,3],
    "Salario":[1000,2000,3000],
    "Genero":["N","M","A"]
}

In [36]:
data = pd.DataFrame(dict1)

In [37]:
data.head()

    nombre  edad  Salario Genero
0    Pedro     1     1000      N
1  Esparza     2     2000      M
2   Garcia     3     3000      A

In [32]:
datos_categoricos = data.select_dtypes(exclude=[np.number])
print(datos_categoricos)

    nombre Genero
0    Pedro      N
1  Esparza      M
2   Garcia      A

In [42]:
maximo = data["Salario"].max()
minimo = data["Salario"].min()
dif = maximo - minimo
print("El salario mayor es de",maximo,", el salario menor es de", minimo," y la diferencia es de", dif)

El salario mayor es de 3000 , el salario menor es de 1000  y la diferencia es de 2000

In [43]:
data.describe()

       edad  Salario
count   3.0      3.0
mean    2.0   2000.0
std     1.0   1000.0
min     1.0   1000.0
25%     1.5   1500.0
50%     2.0   2000.0
75%     2.5   2500.0
max     3.0   3000.0